---
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import fetchMainNav from '@/api/fetchMainNav';

import ThemeSwitch from '../ThemeSwitch.astro';
import LanguageSwitch from '../LanguageSwitch.astro';
import NavItem from './NavItem.astro';

const pathname = Astro.request.url.pathname;
const locale = getLocaleFromUrlPathname(pathname);
const navItems = await fetchMainNav(locale);
---

<nav id="main-nav" class="main-nav">
  <ul id="menu-items" aria-label="Main menu" class="flex flex-col ml-auto lg:flex-row">
    {navItems.map(({ title, to }) => <NavItem to={to} title={title} />)}
  </ul>
  <ThemeSwitch />
  <LanguageSwitch />
</nav>

<style>
  .main-nav {
    @apply hidden grow basis-full items-center py-4 lg:!flex lg:basis-auto lg:py-0;
  }
  .main-nav.open {
    @apply !block;
  }
</style>
