---
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import fetchMainNav from '@/api/fetchMainNav';

import ThemeSwitch from '../ThemeSwitch.astro';
import LanguageSwitch from '../LanguageSwitch.astro';
import NavItem from './NavItem.astro';

const pathname = Astro.request.url.pathname;
const locale = getLocaleFromUrlPathname(pathname);
const navItems = await fetchMainNav(locale);
---

<nav id="main-nav" class="main-nav">
  <menu id="main-menu" aria-label="Main menu" class="main-menu">
    {navItems.map(({ title, to }) => <NavItem to={to} title={title} />)}
  </menu>
  <div class="flex justify-center items-center">
    <LanguageSwitch />
    <div class="ml-4 lg:ml-0">
      <ThemeSwitch />
    </div>
  </div>
</nav>

<style>
  .main-nav {
    @apply hidden grow basis-full items-center py-4 lg:!flex lg:!flex-row lg:basis-auto lg:py-0;
  }
  .main-nav.open {
    @apply !flex flex-col;
  }
  .main-menu {
    @apply flex flex-col self-start lg:flex-row lg:self-auto lg:ml-auto;
  }
</style>
