---
export interface Props extends Link {}
const { to, title } = Astro.props as Props;
---

<a href={to} data-scroll data-id={to} class="nav-item nav-item-link" role="menuitem">
  {title}
</a>

<style global>
  .nav-item {
    @apply py-2 px-4 lg:py-5 lg:px-4;
  }
  .nav-item-link {
    @apply at-a cursor-pointer text-sm font-normal uppercase tracking-wide text-white hover:text-primary;
  }
  .nav-item.active {
    @apply text-primary;
  }
</style>
