---
export interface Props extends Link {
  name: string;
}

const { name, title, to } = Astro.props as Props;

// Google does't use rel="me" Microformats
// rel="me noreferrer"
---

<a class="social-link" href={to} target="_blank" rel="noreferrer" aria-label={name} title={title}>
  <slot />
</a>

<style>
  .social-link {
    @apply at-a
  flex h-16 w-16
  items-center justify-center

  rounded-full
  bg-black
  text-white

  hover:bg-primary
  hover:transition-colors
  hover:ease-in-out;
  }
</style>
