---
export interface Props {
  item: SectionItem;
}

import Image from 'astro-imagetools';
import getImagePath from '@/helpers/getImagePath';
import getImageFormats from '@/helpers/getImageFormats';

const { item: { title, content, image } } = Astro.props as Props;
---

<li class="service-item">
  {image?.src && (
    <Image
      src={getImagePath(image.src)}
      alt={image.alt}
      layout="fullWidth"
      loading="lazy"
      format={getImageFormats() as unknown as []}
    />
   )}
  <h3 class="mb-4">{title}</h3>
  <p>{content}</p>
</li>

<style is:global>
  .service-item {
    @apply text-center;

    .astro-imagetools-picture {
      @apply mb-4;
    }
  }
</style>
