---
export interface Props {
  item: SectionItem;
}

import Picture from '@/components/Picture.astro';

const {
  item: { title, subtitle, content, image },
} = Astro.props as Props;
---

<li class="testimonial-item">
  {image?.src && (
    <div class="w-56 h-56 mx-auto mb-3" data-aos="fade-up">
      <Picture src={image.src} alt={image?.alt || title || content || ''} />
    </div>
  )}
  <p data-aos="fade-up">{content}</p>
  <div class="mt-4 text-sm before:content-['-']" data-aos="fade-up">
    {title}{subtitle && <cite>{`, ${subtitle}`}</cite>}
  </div>
</li>

<style>
  .testimonial-item {
    @apply text-center;
    :global(.astro-imagetools-picture img) {
      @apply border-round;
    }
  }
</style>
