---
export interface Props {
  item: SectionItem;
}

import { Picture } from 'astro-imagetools/components';
import getImagePath from '@/helpers/getImagePath';
import getImageFormats from '@/helpers/getImageFormats';

const {
  item: { title, subtitle, content, image },
} = Astro.props as Props;
---

<li class="testimonial-item">
  {image?.src && (
    <Picture src={getImagePath(image.src)} alt={image?.alt || title || content || ''} format={getImageFormats() as unknown as []}/>
  )}
  <p>{content}</p>
  <div class="mt-4 text-sm before:content-['-']">
    {title}{subtitle && <cite>{`, ${subtitle}`}</cite>}
  </div>
</li>

<style>
  .testimonial-item {
    @apply text-center;

    :global(.astro-imagetools-picture) {
      @apply mb-3;

      :global(img) {
        @apply w-56 h-56 mx-auto border-round;
      }
    }
  }
</style>
