---
import { localizePath } from '@/helpers/i18n-utils';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';

const { to, ...rest } = Astro.props;
const locale = getLocaleFromUrlPathname(Astro.request.url.pathname);
const path = localizePath(to, locale);
---

<a href={path} {...rest}><slot /></a>
