---
export interface Props {
  locale: string;
}

import { getPage } from '@/cms/page';

import Layout from '@/components/LayoutSimple.astro';


const { locale } = Astro.props as Props;

const page = (await Astro.glob('/content/pages/404.??.md'))
  .map(getPage)
  .find((p) => p.locale === locale && p.slug === '404');
if (!page) {
  throw new Error(`404 page for ${locale} is required`);
}

const { title, headline, metaTitle, metaDescription, keywords, noindex, nofollow, Content } = page;

const seo = {
  title: metaTitle || title,
  description: metaDescription || headline,
  keywords,
  headline,
  noindex,
  nofollow,
};
---
<Layout seo={seo}>
  <div class="self-center text-center w-full">
    <div>
      <h1 class="text-6xl font-mono">{title}</h1>
      <div>
        <Content />
      </div>
    </div>
  </div>
</Layout>
