---
export interface Props {
  locale: string;
}

import fetchTop from '@/api/fetchTop';
import getImagePath from '@/lib/getImagePath';
import Image from '@/components/Image.astro';

const { locale } = Astro.props as Props;

const top = await fetchTop(locale);

const { title, subtitle, items } = top ? top[0] : {};
const image = items ? items[0].image : null;
---
<div class="grid">
  {image?.src && (
    <Image src={getImagePath(image.src)} alt={image.alt} classes="col-start-1 row-start-1" caption={image.caption} />
  )}
  <div class="title text-lg md:mb-9 md:text-xl lg:text-2xl">{title}</div>
</div>

<style>
.title {
  grid-area: 1/1;
  align-self: end;
  justify-self: center;
  margin-bottom: 2rem;

  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
</style>
