---
export interface Props {
  locale: string;
}

import fetchTop from '@/api/fetchTop';
import getImagePath from '@/lib/getImagePath';
import ArtImage from '@/components/ArtImage.astro';
import Button from './Button.astro';

const { locale } = Astro.props as Props;

const top = await fetchTop(locale);

const { title, subtitle, items } = top ? top[0] : {};
const sources = items?.map(({ image: { src, caption }}) => ({ src: getImagePath(src), media: caption }));
---
<div class="grid">
  {sources && (
    <ArtImage sources={sources} alt={items[0].image.alt } classes="col-start-1 row-start-1" />
  )}
  <div class="col-start-1 row-start-1 text-center flex flex-col-reverse justify-center items-center">
    <Button as="a" to="#services">hello</Button>
    <h1 class="txt uppercase font-bold text-3xl md:mb-6 md:text-4xl lg:text-6xl">{title}</h1>
    {subtitle && <div class="txt mb-8 text-2xl italic">{subtitle}</div>}
  </div>
</div>

<style>
.txt {
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
</style>
