<button id="menu-toggle" class="menu-toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
  <div class="toggle-line"></div>
  <div class="toggle-line"></div>
  <div class="toggle-line"></div>
</button>

<style lang="scss">
  .menu-toggle {
    @apply
    flex  flex-col items-center justify-center
    relative m-0
    h-12 w-12
    cursor-pointer
    border-none bg-transparent
    lg:hidden lg:pointer-events-none;
    .toggle-line {
      @apply h-1 w-6 my-1
      rounded-full
      bg-white
      transform transition duration-300
      opacity-50;
    }
    &:hover .toggle-line {
      @apply opacity-100;
    }

    &.open {
      .toggle-line {
        &:nth-child(1) {
          transform: translateY(0.75rem) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-0.75rem) rotate(-45deg);
        }
      }
    }
  }

</style>
