---
import { getPage } from '@/cms/page';
import getLocaleFromUrlPathname from '@/helpers/getLocaleFromUrlPathname';
import Layout from '@/components/LayoutSimple.astro';
import Container from '@/components/Container.astro';

const { pathname } = Astro.url;
const locale = getLocaleFromUrlPathname(pathname);
const { content } = Astro.props;

const { title, headline, metaTitle, metaDescription, keywords, nofollow, html } = getPage(content, pathname);

const seo = {
  title: metaTitle || title,
  description: metaDescription || headline,
  keywords,
  headline,
  noindex: true,
  nofollow,
  pathname,
  locale,
};
---

<Layout seo={seo}>
  <Container classes='self-center text-center'>
    <h1 class='text-8xl font-mono'>{title}</h1>
    {html && <div class="markdown-body" set:html={html} />}
  </Container>
</Layout>
