---
import { getPage } from '@/cms/page';
import Layout from '@/components/LayoutSimple.astro';
import Container from '@/components/Container.astro';

const { pathname } = Astro.canonicalURL;
const { content } = Astro.props;

const { title, headline, metaTitle, metaDescription, keywords, nofollow, html } = getPage(content, pathname);

const seo = {
  title: metaTitle || title,
  description: metaDescription || headline,
  keywords,
  headline,
  noindex: true,
  nofollow,
};
---
<Layout seo={seo}>
  <Container classes="self-center text-center">
    <h1 class="text-8xl font-mono">{title}</h1>
    {html && <div class="markdown-body" set:html={html} />}
  </Container>
</Layout>
